* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* variables for the types */

:root {
    --fire: #fd7d24;
    --grass: #9bcc50;
    --water: #4592c4;
    --poison: #b97fc9;
    --ice: #51c4e7;
    --flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    --psychic: #f366b9;
    --bug: #729f3f;
    --normal: #a4acaf;
    --electric: #eed535;
    --ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    --fairy: #fdb9e9;
    --fighting: #d56723;
    --steel: #9eb7b8;
    --ghost: #7b62a3;
    --dragon: #7038F8;
    --rock: #a38c21;
    --grassgood: linear-gradient(180deg, #3ff73f 50%, #ffffff 50%);
}

/* Styling the types lable */

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
    color: white;
}

.grass {
    background-color: var(--grass);
}

.grassBackground {
    background-image: var(--grassgood);
}

.poison {
    background-color: var(--poison);
    color: white;
}

.ice {
    background-color: var(--ice);
}

.flying {
    background-image: var(--flying);
}

.psychic {
    background-color: var(--psychic);
}

.bug {
    background-color: var(--bug);
}

.normal {
    background-color: var(--normal);
    color: white;

}

.electric {
    background-color: var(--electric);
}

.rock {
    background-color: var(--rock);
    color: white;
}

.ground {
    background-image: var(--ground);
}

.fairy {
    background-color: var(--fairy);
}

.fighting {
    background-color: var(--fighting);
    color: white;
}

.steel {
    background-color: var(--steel);
}

.ghost {
    background-color: var(--ghost);
    color: white;
}

.dragon {
    background-color: var(--dragon);
    color: white;
}

/*Header*/

.nav img {
    width: 15%;
}

.nav {
    display: flex;
}

.navList {
    justify-content: center;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navItem button {
    padding: .5rem;
    margin: 0 0.5rem;
    border-radius: 100vw;
    border: 1px solid black;
    width: 5rem;
}

.navBtn:hover {
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

.type {
    border-radius: 100vmax;
    padding: 0.1rem 0.5rem;
    margin: .1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: bold;
}

.pokeType {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem auto;
}

main {
    background-color: #e6e6e6;
}

#pokedexBoddy {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;

}

.pokeProfile {
    display: flex;
    width: 20%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: .5rem 1rem;
    padding: 1rem;
    box-shadow: 5px 10px 20px black;
    color: black;
    ;
}

.pokeImg img {
    width: 100%;
}

.pokeImg {
    border-bottom: solid 1px black;
    border-radius: 10px 10px 0 0;
}

.stat {
    display: inline-block;
    border-radius: 100vmax;
    margin-top: 0.5rem;
    padding: 0.1rem 0.5rem;
    background-color: rgb(201, 201, 201);
    font-size: 1.2rem;
}

.pokeId {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.pokeId,
.pokeName {
    text-transform: uppercase;
    font-weight: bold;
}

.pokeInfo {
    width: 100%;
}